{% extends "base.html" %}
{% load staticfiles %}
{% block basehead%}
  <!--<link rel="stylesheet" href="{% static 'normalize.css' %}">-->
  <!--<link rel="stylesheet" href="{% static 'skeleton.css' %}">-->
  <style>
    .center-align {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      text-align: center;
    }
    code{
      border: 1px dashed #bbb;
      font-size: 15px;
      background: #d6d6d6;
    }
  </style>
{% endblock basehead%}
{% block content %}
  <div class="center-align">
    <button class="button button-primary" onclick="location.href='{% url 'new_room' %}'" style="margin-bottom: 10px">Create new chat room</button>
    <p class="quiet">
      Or visit <code>{{ request.scheme }}://{{ request.get_host }}/random-number</code>
      to create a chatroom.
    </p>
    <div class="active-chatrooms">
      <h3>Active Chatrooms</h3>
      {% for room in rooms %}
        <div class="active-chatrooms">
          <span><a href="{{ request.scheme }}://{{ request.get_host }}/{{ room.label }}" target="_blank">{{ room.label }}:</a></span>
            <br>
        </div>

      {% endfor %}
    </div>
  </div>
{% endblock content %}