{% extends "base.html" %}
{% block chathead%}

{% endblock chathead%}
{% block content %}
{% load staticfiles %}
<div class="chat-container ng-scope" ng-controller="BasicController as chat">

    <!-- Chat Messages -->
    <div class="chat-messages">
        <div class="chat-header">
            Share this url:
            <a href="{{ request.scheme }}://{{ request.get_host }}/{{ room.label }}" target="_blank"><code>{{ request.scheme }}://{{ request.get_host }}/{{ room.label }}</code></a>
        </div>
        <div id="chat-messages-ui">
        {% for message in messages %}
            <div class="sent-message-true">
                <span class="username ng-binding">{{ message.handle }}:</span>
                {{ message.formatted_message | safe}}<br>
                <span style="font-size: 10px">{{message.formatted_timestamp}}</span>
            </div>
            <div class="clear"></div>

        {% endfor %}
        </div>
    </div>

    <!-- User Input -->
    <form id="chatwidget" class="chat-input">
        <input type="text" id="handle-username" placeholder="handle" style="width: 10%">
        <input type="text" id="chat-textbox" placeholder="message" autofocus="" style="width: 70%;">
        <input type="submit" value="send">
    </form>

</div>

{% endblock content %}

{% block afterbody %}
<script type="text/javascript" src='{% static "jquery-1.12.1.min.js" %}'></script>
<script type="text/javascript" src='{% static "reconnecting-websocket.min.js" %}'></script>
<script type="text/javascript" src='{% static "chat.js" %}'></script>
{% endblock afterbody %}